# CUSTOMER BEHAVIOR ANALYTICS & SEGMENTATION SYSTEM
THIS PROJECT ANALYZES CUSTOMER SHOPPING BEHAVIOR AND APPLIES MACHINE LEARNING
(K-MEANS CLUSTERING) TO SEGMENT CUSTOMERS BASED ON PURCHASING PATTERNS,
RATINGS, AND FREQUENCY FOR BUSINESS INSIGHTS.

## 1. DATA LOADING
THE DATASET IS LOADED USING PANDAS FOR FURTHER PREPROCESSING AND ANALYSIS.

In [141]:
# Loading the dataset using pandas

import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')

In [142]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

## 2. EXPLORATORY DATA ANALYSIS (EDA)
EDA IS PERFORMED TO UNDERSTAND CUSTOMER DEMOGRAPHICS,
PURCHASE BEHAVIOR, AND OVERALL DATA DISTRIBUTION.

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [144]:
# Summary statistics using .describe()

df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

## 3. DATA CLEANING & PREPROCESSING
THIS SECTION HANDLES MISSING VALUES, DATA TYPE CORRECTIONS,
AND COLUMN STANDARDIZATION FOR CONSISTENCY.

In [145]:
# Checking if missing data or null values are present in the dataset

df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [146]:
# Imputing missing values in Review Rating column with the median rating of the product category

df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [147]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [148]:
# Renaming columns according to snake casing for better readability and documentation

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [149]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

## 4. FEATURE ENGINEERING
NEW FEATURES SUCH AS AGE GROUPS AND PURCHASE FREQUENCY (IN DAYS) ARE CREATED
TO ENHANCE BEHAVIORAL ANALYSIS AND SUPPORT MACHINE LEARNING MODELS.

In [150]:
# create a new column age_group

labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [151]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [152]:
# create new column purchase_frequency_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [153]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [154]:
# CHURN RISK FLAG CREATION
df['churn_risk_flag'] = df['purchase_frequency_days'].apply(
    lambda x: 'HIGH' if x >= 90 else 'LOW'
)

df[['purchase_frequency_days', 'churn_risk_flag']].head()

   purchase_frequency_days churn_risk_flag
0                       14             LOW
1                       14             LOW
2                        7             LOW
3                        7             LOW
4                      365            HIGH

In [155]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [156]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [157]:
# Dropping promo code used column

df = df.drop('promo_code_used', axis=1)

In [158]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days',
       'churn_risk_flag'],
      dtype='object')

## 5. MACHINE LEARNING â€“ CUSTOMER SEGMENTATION
K-MEANS CLUSTERING IS APPLIED TO SEGMENT CUSTOMERS BASED ON
PURCHASE AMOUNT, PURCHASE FREQUENCY, RATINGS, AND DEMOGRAPHIC FEATURES.

In [159]:
pip install pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (2.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (1.26.4)
Requirement already satisfied: matplotlib in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (3.10.7)
Requirement already satisfied: seaborn in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (1.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: scipy>=1.8.0 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [160]:
# Selecting numerical features for ML
ml_features = df[['purchase_amount',
                  'previous_purchases',
                  'review_rating',
                  'purchase_frequency_days',
                  'age']]

ml_features.head()

,purchase_amount,previous_purchases,review_rating,purchase_frequency_days,age
0,53,14,3.1,14,55
1,64,2,3.1,14,19
2,73,23,3.1,7,50
3,90,49,3.5,7,21
4,49,31,2.7,365,45

In [161]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
ml_scaled = scaler.fit_transform(ml_features)

In [162]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=4, random_state=42)
df['customer_segment'] = kmeans.fit_predict(ml_scaled)

df[['customer_id', 'customer_segment']].head()

   customer_id  customer_segment
0            1                 3
1            2                 2
2            3                 1
3            4                 1
4            5                 3

### MODEL EVALUATION
SILHOUETTE SCORE IS USED TO EVALUATE THE QUALITY OF CUSTOMER CLUSTERS.
HIGHER SCORES INDICATE BETTER-DEFINED CLUSTERS.

In [163]:
from sklearn.metrics import silhouette_score

silhouette_avg = silhouette_score(ml_scaled, df['customer_segment'])
silhouette_avg

0.15268315900059767

A silhouette score close to 1 indicates well-separated clusters.

### CUSTOMER SEGMENT INTERPRETATION
EACH CUSTOMER SEGMENT IS ANALYZED TO UNDERSTAND SPENDING BEHAVIOR,
PURCHASE FREQUENCY, AND SATISFACTION LEVELS.

In [164]:
segment_summary = df.groupby('customer_segment')[[
    'purchase_amount',
    'previous_purchases',
    'review_rating',
    'purchase_frequency_days'
]].mean()

segment_summary

,purchase_amount,previous_purchases,review_rating,purchase_frequency_days
customer_segment,,,,
0,63.239678,37.387714,4.251561,66.809668
1,57.687627,34.012170,3.085091,77.132860
2,60.856299,14.932087,4.192028,70.376969
3,56.987845,14.406630,3.428066,147.758011

In [165]:
segment_labels = {
    0: 'High-Value Customers',
    1: 'Frequent Low-Spend Customers',
    2: 'Occasional Buyers',
    3: 'At-Risk Customers'
}

df['customer_segment_label'] = df['customer_segment'].map(segment_labels)

In [166]:
df.to_csv("customer_behavior_with_ml_segments.csv", index=False)

## 6. DATABASE INTEGRATION
THE PROCESSED DATASET IS STORED IN POSTGRESQL FOR FURTHER SQL-BASED ANALYSIS
AND INTEGRATION WITH BUSINESS INTELLIGENCE TOOLS.

In [167]:
!pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sandeep\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.15.0)

In [168]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL

username = "postgres"     
password = "postgres" 
host = "localhost"         
port = "5432"              
database = "customer_behavior"    

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL

table_name = "customer"   
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behavior'.